@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.maw-masonry {
	width: 100%;
	overflow: hidden;

	&__grid {
		position: relative;
		width: 100%;

		> * {
			box-sizing: border-box;
		}
	}
}
