/**
 * Video Block Styles
 *
 * Minimal functional styles only
 * Updated for build tracking
 */

@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.maw-video {
  position: relative;
  width: 100%;

  &__wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  &__element {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
  }

  &__placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    background: var(--maw-color-background);
    border: 2px dashed var(--maw-color-border);
  }

  &.maw-video--aspect-16-9 &__wrapper {
    @include maw-aspect-ratio(16, 9);
  }

  &.maw-video--aspect-4-3 &__wrapper {
    @include maw-aspect-ratio(4, 3);
  }

  &.maw-video--aspect-1-1 &__wrapper {
    @include maw-aspect-ratio(1, 1);
  }

  &.maw-video--aspect-9-16 &__wrapper {
    @include maw-aspect-ratio(9, 16);
  }
}

