/**
 * MAW Blocks Editor Styles
 *
 * Styles for the Gutenberg editor only
 */

@import 'variables';
@import 'editor-panels';

// Global arrow styles for shared components
.maw-arrow {
  display: inline-block;
  width: 1em;
  height: 1em;
  
  svg {
    width: 100%;
    height: 100%;
    // Don't override fill/stroke - let the SVG control its own styling
  }
}

.maw-video {
  border: 1px dashed var(--maw-color-border);
  padding: var(--maw-spacing-md);
  min-height: 200px;

  &.is-selected {
    border-color: var(--maw-color-primary);
    border-style: solid;
  }
}

.maw-editor-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  color: #999;
  font-style: italic;
}

